.coin-page {
  .home-page-button {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid #d7d7d7;

    svg {
      width: 3rem;
      height: 3rem;
    }
  }

  &__graph {
    margin-top: 20px;
    height: 600px;
  }

  &__content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    &__left-part {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: 50%;
        padding-right: 25px;
      }

      .tradingview-widget-container {
        width: 100% !important;

        iframe {
          width: 100% !important;
        }
      }

      .social {
        margin-top: 50px;

        &__name {
          display: flex;
          align-items: center;
          background-color: #1e222d;

          &:not(:first-child) {
            margin-top: 15px;
          }

          img {
            background-color: #1e222d;
            margin-right: 20px;
            width: 50px;
          }

          a {
            background-color: #1e222d;
            font-size: 20px;
          }
        }
      }
    }

    &__right-part {
      width: 100%;
      margin-top: 100px;

      @media screen and (min-width: 768px) {
        margin: 0;
        width: 50%;
        padding-left: 25px;
      }

      .description {
        max-height: 450px;
        overflow-y: auto;
        padding: 0;

        &__content {
          overflow: hidden;
          background-color: #1e222d;
          padding: 20px 30px;
        }
      }

      .social-messages {
        margin-top: 50px;

        .catch-sentence {
          margin-bottom: 30px;
          font-size: 24px;
          font-weight: 800;
          text-align: center;
          background-color: #1e222d;
        }

        .post-list {
          background-color: #1e222d;

          .message-item {
            background-color: #1e222d;

            &:not(:first-child) {
              padding-top: 20px;
              margin-top: 20px;
              border-top: 1px solid #d7d7d7;
            }

            .message {
              background-color: #1e222d;
              display: flex;
              align-items: center;

              svg {
                background-color: #1e222d;
                margin-right: 20px;
                width: 40px;
                height: 40px;
              }

              &__content {
                background-color: #1e222d;
              }
            }

            .see-more {
              background-color: #1e222d;
              margin: 10px 0 0 60px;
              font-style: italic;

              a {
                background-color: #1e222d;
              }
            }
          }
        }
      }
    }
  }
}

.block {
  background-color: #1e222d;
  border: 1px solid #434651;
  border-radius: 6px;
  padding: 20px 30px;
  text-align: left;
  line-height: 30px;
}
