.coin-row {
  .col {
    &.coin-rank {
      width: 100px;
    }

    &.coin-name {
      div {
        justify-content: flex-start;
      }
    }

    &.coin-currency {
      text-transform: uppercase;
    }

    &.coin-percent {
      &.red {
        div {
          color: #f00606;
        }
      }

      &.green {
        div {
          color: #11d811;
        }
      }
    }

    &.coin-see-more {
      cursor: pointer;

      div {
        justify-content: center;
      }
    }
  }
}
