.coin-row {
  .col {
    &.coin-rank {
      width: 100px;
    }

    &.coin-currency {
      text-transform: uppercase;
    }

    &.coin-percent {
      &.red {
        div {
          color: #f00606;
        }
      }

      &.green {
        div {
          color: #11d811;
        }
      }
    }
  }
}
